$font-url-google: 'https://fonts.googleapis.com/css?family=Oxygen:400,700';
$font-family: 'Oxygen', sans-serif;

$brkpoint-small: 320px;
$brkpoint-iphone6: 375px;
$brkpoint-iphone6plus: 414px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;
$brkpoint-no-device: 1025px;
$brkpoint-desktop: 1440px;

$white: #ffffff;
$black: #131313;
$dark-gray: #404a51;

$border-radius: 4px;

$gray-opacity: rgba($dark-gray, .25);
$gray-opacity-2: rgba($dark-gray, .5);

$transition: 0.4s;