body {
    background: url('../img/seigaiha.png');
    font-family: $font-family;
    margin: 0;
    padding: 0;
    color: $dark-gray;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
h1 {
    margin: 24px 0;
    
    text-align: center;
    @include mq(medium) {
        text-align: left;
    }
} 


p {
    font-size: 14px;
    line-height: 1.25;
}

input {
    appearance: none;
    border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}