.filter-input {
    background: rgba(255, 255, 255, .25);
    border-bottom: 2px solid black;
    display: inline-block;
    font-size: 32px;
    height: 60px;
    margin: 24px 0;
    padding: 8px;
    width: 100%
}