.overlay {
    align-items: center;
    background: rgba(0, 0, 0, .75);
    display: none;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;


}

.modal {
    align-items: center;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 458px;
    padding: 20px;
    position: relative;
    width: 458px;
    overflow: hidden;
    margin: 0 8px;

    @include mq(medium) {
        margin: 0; 
    }

    &-close {
        position: absolute;
        
        top: 8px;
        right: 8px;
        z-index: 2;
        
    }

    &-avatar {
        border-radius: 50%;
        display: inline-block;
        margin: 0 0 24px 0;
        width: 170px;
    }

    &-name {
        font-size: 20px;
        font-weight: 700;
    }

    &-email,
    &-city,
    &-number,
    &-address,
    &-birthday {
        text-align: center;

    }

    &-divider {
        background: rgba(64, 74, 81, .1);
        height: 1px;
        margin: 24px 0;
        width: 100%;

    }

    &-arrow {
        position: absolute;
        width: 44px;
        height: 44px;
        color: #404a51;

        &.left {
            left: 8px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &.right {
            right: 8px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &-list{
        display: flex;
        overflow: hidden;
        width: 100%;
        position: relative;

        li {
            align-items: center;
            background: transparent;
            box-shadow: none;
            display: none;
            flex-direction: column;
            
            justify-content: center;
            margin: 0 auto;

            @include mq(medium) {
min-width: 418px;
            }


            &.current {
                display: flex;
            }

            &.hidden {
                display: none;
            }

            &:hover {
                transform: none;
                background: initial;
                box-shadow: none;
            }
        }
    }

    &-info {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

.show {
    display: flex;
}